// Colors
$primaryColor:#C8EE44;
$secondaryColor: #29A073;

// Text Colors
$textColor_1:#1B212D;
$textColor_3:#78778B;
$textColor_2:#929EAE;

// Border Colors
$borderColor_1:#F2F2F2;

$color_6:#FAFAFA;
$color_7:#fff;
$color_8:#F8F8F8;
$color_9:#EBE8E8;
$color_10:#363A3F;
$color_11:#4E5257;
$color_12:#000;

// Screen Media Breakpoints
$xl:1536px;
$lg:1200px;
$md:900px;
$sm:600px;
$xs:320px;

