// Colors
$primaryColor:#C8EE44;

// Text Colors
$textColor_1:#1B212D;
$textColor_3:#78778B;
$textColor_2:#afafaf;

// Border Colors
$borderColor_1:#F2F2F2;

// Screen Media Breakpoints
$xl:1536px;
$lg:1200px;
$md:900px;
$sm:600px;
$xs:320px;

