.logo {
    display: flex;
    padding-top:50px;
    justify-content: center;

    > span {
        font-size: 18px;
        font-weight: 700;
        letter-spacing:1.5px;
        padding-left: 10px;
    }
}